---
import {getCollectionByName} from "../utils/getCollectionByName";
import getCountByCategory from "../utils/getCountByCategory";
import getPostArchivesByMonth from "../utils/getPostArchivesByMonth";
import {t} from '../i18n/utils'
const blogs = await getCollectionByName('blog')
let categoryCount = getCountByCategory(blogs);
const archives = getPostArchivesByMonth(blogs);
const archiveLimit = 10;
---

<div>
  {
    Object.keys(categoryCount).length > 0 && (
      <div class="aside-widget">
        <i class="ri-folder-line menu-icon"/>{t('sidebar.categories')}
      </div>
    )
  }
  {
    Object.keys(categoryCount).map((category) => (
      <a
        class="my-1 truncate block hover:text-skin-active"
        title={category + " (" + categoryCount[category] + ")"}
        href={"/category/" + category}
      >
        {(category === 'uncategorized' ? t('sidebar.uncategorized') : category) + " (" + categoryCount[category] + ")"}
      </a>
    ))
  }
</div>
<div>
  {
    archives.length > 0 && (
      <div class="aside-widget">
        <i class="ri-archive-line menu-icon"/>
        {t('sidebar.archive')}
      </div>
    )
  }
  <div>
    {
      archives.slice(0, archiveLimit).map((archive) =>
        <a
          class="my-2 flex items-center justify-between truncate font-semibold hover:text-skin-active"
          title={`${archive.label} (${archive.count})`}
          href={archive.href}
        >
          <span>{archive.label}</span>
          <span>({archive.count})</span>
        </a>
      )
    }
  </div>
  {
    archives.length > archiveLimit && (
      <a class="inline-block mt-2 border rounded-full py-1 px-4 text-sm hover:text-skin-active" href="/archive/1">
        {t('sidebar.archiveMore')}
      </a>
    )
  }
</div>
