---
import {archiveLimit, getSidebarData} from "../utils/sidebarData";
const {archives, categoryCount} = await getSidebarData();
---

<div>
  {
    Object.keys(categoryCount).length > 0 && (
      <div class="aside-widget">
        <i class="ri-folder-line menu-icon"/>カテゴリー
      </div>
    )
  }
  {
    Object.keys(categoryCount).map((category) => (
      <a
        class="my-1 truncate block hover:text-skin-active"
        title={category + " (" + categoryCount[category] + ")"}
        href={"/category/" + category}
      >
        {(category === 'uncategorized' ? '未分類' : category) + " (" + categoryCount[category] + ")"}
      </a>
    ))
  }
</div>
<div>
  {
    archives.length > 0 && (
      <div class="aside-widget">
        <i class="ri-archive-line menu-icon"/>
        アーカイブ
      </div>
    )
  }
  <div>
    {
      archives.slice(0, archiveLimit).map((archive) =>
        <a
          class="my-2 flex items-center justify-between truncate font-semibold hover:text-skin-active"
          title={`${archive.label} (${archive.count})`}
          href={archive.href}
        >
          <span>{archive.label}</span>
          <span>({archive.count})</span>
        </a>
      )
    }
  </div>
  {
    archives.length > archiveLimit && (
      <a class="inline-block mt-2 border rounded-full py-1 px-4 text-sm hover:text-skin-active" href="/archive/1">
        もっと見る
      </a>
    )
  }
</div>
